* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*! Player Card/Container Styling */

.card-container {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/661/973/110/cool-nba-logo-wallpaper-preview.jpg");
  min-width: 300px;
}

.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
}

.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

.player-img {
  height: 350px;
  transition: transform 0.3s;
}

.player-card:hover .player-img {
  transform: scale(0.95);
}
